# Modelo "Árvore de Decisão"

Algorítmo Supervisionado destinado a tomada de decisões

In [53]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn import tree

## Dados de Salários de 3 Companhias: Google, Facebook e ABC Pharma

In [54]:
df = pd.read_csv('bases/salaries.csv')
df.head()

  company                  job     degree  salary
0  google      sales executive  bachelors   87000
1  google      sales executive    masters   93000
2  google     business manager  bachelors  107000
3  google     business manager    masters  112000
4  google  computer programmer  bachelors   95000

In [55]:
# O que desejo saber? P.ex. Ganhar um salário maior que R$ 100.000 (anual)
desejo = pd.Series(np.where(df['salary']>=100000, 1, 0))
print(desejo)

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
dtype: int64

In [56]:
# Transformar os outros campos para chaves
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

df['company_n'] = le_company.fit_transform(df['company'])
df['job_n'] = le_company.fit_transform(df['job'])
df['degree_n'] = le_company.fit_transform(df['degree'])
df.head()

  company                  job     degree  salary  company_n  job_n  degree_n
0  google      sales executive  bachelors   87000          2      2         0
1  google      sales executive    masters   93000          2      2         1
2  google     business manager  bachelors  107000          2      0         0
3  google     business manager    masters  112000          2      0         1
4  google  computer programmer  bachelors   95000          2      1         0

In [58]:
# Gerar um novo DataFrame só com os dados necessários
entradas = df.drop(['company','job','degree','salary'], axis='columns')
entradas.head()

   company_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

In [59]:
# Treinar o modelo
model = tree.DecisionTreeClassifier()
model.fit(entradas, desejo)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [60]:
model.score(entradas, desejo)

1.0

In [61]:
# Google | Sales Executive | Masters
model.predict([[2, 2, 1]])

array([0])